.idea/


##db
!var/mysql/dump
var/mysql/dbdata/*
!var/mysql/dbdata/.gitkeep

##src
src/*
src/composer.json

##
info.txt
backup/*
traefik/var/*
!traefik/var/.gitkeep

##ignore auth.json file
composer/auth.json

